.timer {
  display: flex;
  justify-content: flex-end;
}
.test {
  display: block;
  max-width: 900px;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 150px;
}
.result__title {
  font-size: 30px;
  text-align: left;
  font-weight: 500;
  padding-top: 65px;
}
.form-group {
  display: flex;
  justify-content: left;
  padding: 30px 0px;
}
.table {
  width: 100%;
  border-radius: 20px;
  overflow: hidden;
}

.table th,
.table td {
  padding: 15px 5px;
  border: none;
  text-align: center;
}

.table thead {
  background-color: #006df0;
  color: white;
}

.table th {
  font-weight: bold;
}

.table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table tr:hover {
  background-color: #e6e6e6;
}
